@import 'tailwindcss';
@config "./tailwind.config.js";

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerif-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerif-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerif-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@layer base {
  html {
    font-family: 'Noto Serif', serif;
  }
}
body {
  @apply m-0 bg-[#ffffff] p-0;
}

@layer components {
  .section-container {
    @apply mx-auto w-full max-w-[1280px] scroll-mt-22 md:px-12;
  }

  .hide {
    @apply -top-24;
  }

  .visible {
    @apply top-0;
  }

  .common-link {
    @apply h-20 px-5 py-2 hover:bg-[#37778F];
  }
}
